/node_modules
/public/build
/public/css/filament
/public/fonts/filament
/public/vendor/livewire
/public/hot
/public/storage
/public/img
/public/js/filament
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/uploads
/public/images
/.sonarlint/
.env.testing
/storage/debugbar/
_ide_helper.php
_ide_helper_models.php

/deployment-config-with-prod.json
